.cards {
  .col {
    margin-bottom: 1.5rem;

    .card {
      border-radius: 0.75rem;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        transform: translateY(-8px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
        cursor: pointer;
      }
    }
  }
}
