<h1>All Galleries</h1>

<div class="cards">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @galleries.each do |gallery| %>
      <div class="col">
        <div class="gallery-grid position-relative text-center text-white">
          <% if gallery.image.attached? %>
            <%= image_tag url_for(gallery.image), width: 400, height: 300, alt: gallery.artist %>
          <% end %>
          <div class="gallery-content position-absolute top-50 start-50 translate-middle text-center bg-dark bg-opacity-50 p-2 rounded">
            <h5><%= gallery.artist %></h5>
            <p class="mb-1"><%= gallery.description %></p>
            <small><%= gallery.date.strftime("%B %d, %Y") if gallery.date %></small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
